@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    background-color: #fff;
    color: #1F2937;
    /* max-width: 1200px; */
    margin: auto;
}
.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.container-small{
    width: 85%;
    margin: auto;
    overflow: hidden;
}

a{
    text-decoration: none;
}
li{
    list-style: none; 
}

/* about */
.about{
    margin-top: 40px 0;
}
.about-logo{
    width: 30rem;
    margin: 50px 0;
}
.about-img{
    margin: auto;
}
.about-content h1{
    margin-bottom: 40px;
}
.about-content{
    width: 56%;
}
.about-content p{
    margin-bottom:30px ;
}

.about-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


/* work */
.work{
    background: #F7FAFF;
    color: #1F2937;
    text-align: center;
    padding: 40px;
    margin-top: 50px;
}

.work .work-heading{
    margin-bottom: 40px ;
}

.work-wrapper{
    display: flex;
    justify-content: space-evenly;

}
.work-content h3{
    margin: 30px 0 10px 0;
}

.work-img img{
    width: 100%;
    height: 100%;
}

.work-img{
    width: 5rem;
    height: 5rem;
}

.work-card{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work-content{
    width: 58%;
}

/* leaders */

.leaders-heading{
    text-align: center;
    margin: 40px 0;
}

.leaders-container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.leaders{
    /* display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    padding: 12px; */
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 40px;
    column-gap: 40px; */
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: center; */
    row-gap: 72px;
    column-gap: 40px;
    width: 94%;
    margin: auto;
}

.leaders-info{
    margin-top: 50px;
}
.leaders-info p{
    margin: 8px 0;
}

.leaders-contact{
    display: flex;
    justify-content: space-evenly;
}
.leaders-card{
    width: 280px;
    height: 320px;
    background: #F7FAFF;
    border-radius: 6px;
    box-shadow:-3px -1px 14px -5px rgba(46,45,45,0.75);
    overflow: hidden;
}

.upper-container{
    height: 120px;
    background: #446FD8;
    position: relative;
}

.image-container{
    background: #F7FAFF;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    /* position: absolute;
    transform: translate(59px,47px); */
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -13%);
    text-align: center;
    background-color: rgb(173, 173, 173);
}
    
.image-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
   

.lower-container{
    padding-top: 40px;
    text-align: center;
}
   
.leaders-contact a{
    color: #446FD8;
}
   
/* glimpse */

.main-box{
    width: 80%;
    margin: auto;
}
.cards{
   margin: 10px;
}
.arrow-prev{
    position: absolute;
    top: 54%;
    left: 11%;
}
.arrow-next{
    position: absolute;
    top:54%;
    right:11%;
}

.arrow-next i,.arrow-prev i{
    color: #2b2b2b;
}
.container-slide{
    margin-bottom: 50px;
    position: relative;
}
.arrow-prev i:hover,.arrow-next i:hover{
    opacity: 0.7;
    cursor: pointer;
}

.container-slide h1{
    text-align: center;
    margin: 70px 0 20px;
}
.image{
    overflow: hidden;
    
}
.image img{
    width: 90%;
    margin: auto;
}

/* location*/

.location-content{
    margin: 20px 0;
}
.work-content-loc h3{
    margin: 30px 0 10px 0;
}


/* footer */

.footer-left img{
    margin-bottom: 20px;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    margin-bottom: 44px;
}

.footer-contact{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.footer-contact i{
    color: #0850FD;
}
.footer-link{
    color: #000000;
    font-weight: bold;
}

.footer-logo{
    display: flex;
    align-items: center;
}
.footer-logo img{
    width: 14rem;
}

@media (max-width:1023px){

    .image{
        width: 100%;
        height: 100%;
    }
    .image img{
        width: 14rem;
        height: 12rem;
    }
    .arrow-next{
        right: 8%;
        top:57%
    }
    .arrow-prev{
        left: 8%;
        top:57%
    }

}

@media (max-width:902px){

 
    .arrow-next{
        right: 5%;
     
    }
    .arrow-prev{
        left: 5%;
     
    }

}


@media (max-width:797px){
    .container-small{
        width: 75%;
    }
    .about-wrapper{
        display: block;
    }
    .about-content{
        width: 100%;
    }
    .about-logo{
        width: 27rem;
    }
    .about-img img{
        width: 22rem;
    }
    .work-card{
        margin-bottom: 52px;
    }
    .work-wrapper{
        display: block;
    }
   
    .work-content{
        width:40%
    }

    .footer{
        display: block;
    }
    .footer-left{
        margin-bottom: 56px;
    }
    .footer-logo img{
        width: 10rem;
    }
    .footer-contact{
        justify-content: space-between;
        width: 64%;
    }
}



@media (max-width:578px){
    .about-logo{
        width: 24rem;
    }
    .about-img img{
        width: 18rem;
    }
    .work-content{
        width: 70%;
    }
}

@media (max-width:527px){
    .about-logo{
        width: 20rem;
    }
    .about-img img{
        width: 18rem;
    }
}

@media (max-width:479px){
    .image img{
        width: 340px;
        height: 280px;
    }
}

@media (max-width:420px){
    .footer-contact{
            width: 100%;
    }  
    .about-logo{
        width: 18rem;
    }
    .about-img img{
        width: 15rem;
    }
    .work-content{
        width: 90%;
    }
   
}

@media (max-width:389px){
    .about-logo{
        width: 17rem;
    }
}

